/* BRANDS-PAGE STYLING */

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');


*, *:before, *:after {
    box-sizing: border-box;
 }

 html , body {
     width:100%;
     height:auto;
 }
  .hero {
      position:relative;
      width:100%;
      height:auto;
      filter: blur(1px);
      -webkit-filter: blur(1px);
  }

  

  .herotext {
    background-color: rgba(0,0,0, 0.2); 
    color: black;
    font-weight: bold;
    border: 3px solid #0c0c0c;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
    font-size:50px;
    
  }



  .desc{
      text-align:center;
  }

  .link {
      font-size: 15px;
      text-decoration:underline;
      text-align:center;
      color:mediumslateblue;
  }


  .wrapper {
    width:100%;
    height:auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto 200px;
    grid-gap: 2%;
    grid-template-areas:
        
        "content content content content content content content content content content content content"
        "content content content content content content content content content content content content";
  }

  .cell-1 {
      grid-area:header;
  }
  .cell-2 {
      grid-area:content;
  }

   .cell-2 {
       flex-direction:row;
       flex-wrap:wrap;
       display:flex;
       align-items:center;
       margin-left:5%;
     
   }

   .logo {
       width:20%;
       margin:30px;
       margin-left:100px;
      
    }

     /*Ipad Pro 12.9*/
  @media  (max-width: 1024px){
    .wrapper{
      display:grid;
      grid-template-columns:repeat(12,1fr);
      grid-template-rows: auto 200px;
      grid-template-areas:
        "content content content content content content content content content content content content"
        "content content content content content content content content content content content content";
    }
    .logo{
        width:25%;
        margin-left:50px;
    }

    .herotext {
    top:30%;
    }

  

  

}

    /*Ipad*/
   @media (max-width: 768px){
    .wrapper{
      display:grid;
      grid-gap:2%;
      grid-template-columns:repeat (12, 1fr);
      grid-template-rows: auto 100px;
      grid-template-areas:
        "content content content content content content content content content content content content"
        "content content content content content content content content content content content content";   
       
    }

    .logo{
        width:20%;
        margin-left:40px;
      
    }


}
    /*mobil*/
   @media (max-width:480px){
    .wrapper{
     height:auto;
     display:grid;
     margin-bottom:20px;
     grid-template-columns:repeat(4, 1fr) ;
     grid-template-rows:repeat (4,1fr);
     grid-template-areas: 
      "content content content content"
      "content content content content"
      "content content content content"
      "content content content content";
       
    }
    
    .logo{
        width:30%;
        margin-left:40px;
    }

    .herotext {
        font-size: 20px;
    }
  }



