
.Sortera { grid-area: sortera; }
.filter { grid-area: filter; }
.item4 { grid-area: prod1; }
.item5 { grid-area: prod2; }
.item6 { grid-area: prod3; }
.item7 { grid-area: prod4; }
.item8 { grid-area: prod5; }
.item9 { grid-area: prod6; }
.item10 { grid-area: footer; }

.grid-container {
  display: grid;
  grid-template-areas:

    'filter filter sortera sortera'
    'prod1 prod1 prod2 prod2'
    'prod1 prod1 prod2 prod2'
    /*'prod3 prod3 prod4 prod4'
    'prod3 prod3 prod4 prod4'
    'prod5 prod5 prod6 prod6'
    'prod5 prod5 prod6 prod6'
    'footer footer footer footer'*/;
  grid-gap: 10px;
  background-color: #c9c9c9;
  padding: 10px;
}

.grid-container > div {
  background-color: #fff;
  color: #000;
  text-align: center;
  padding: 20px 0;
  font-size: 30px;

}
select{

 font-size: 20px;
 background-color: #67539E;
 color: #fff;
 text-align-last:center;
 padding: 20px 0;
 height: 70px;
 -webkit-appearance: none;
 -webkit-border-radius: 0px;
}