footer {
    height: auto;
    background-color: rgb(207, 207, 207);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    padding: 20px;
    gap: 40px;
}

footer > * {margin: 0 auto;}
footer h5 {text-transform: uppercase;}
footer p {color: #67539E;}
.social img {width: 30%;}

.social {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}


@media (min-width: 768px) {
    footer {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 1200px) {
    footer {
        font-size: 1.5em;
    }
}