body {
    font: normal 18px/1.5 "Fira Sans", "Helvetica Neue", sans-serif;
    background: #fff;
    color: black;
    padding: 50px 0;
    box-sizing: border-box;
  }
  
header .hero {width: 100%;}

  .flex-wrapper {
    width: 80%;
    max-width: 1200px;
    margin: 10% auto;
  }

  .flex-wrapper header img {width: 100%;}
  
  .flex-form {
    list-style-type: none;
    width: 100%;
    padding: 0;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    margin: auto;
  }
  
  .flex-form li {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  
  .flex-form > li:not(:last-child) {
    margin-bottom: 20px;
  }
  
  .flex-form li label,
  .flex-form li p {
    padding: 8px;
    font-weight: 300;
    letter-spacing: .09em;
    text-transform: uppercase;
  }
  
  .flex-form > li > label,
  .flex-form li p {
    flex: 1 0 120px;
    max-width: 220px;
  }
  
  .flex-form > li > label + * {
    flex: 1 0 220px;
  }
  
  .flex-form li p {
    margin: 0;
  }
  
  .flex-form li input,
  .flex-form li textarea {
    padding: 15px;
    border: 2px solid black;

  }
  
  .flex-form li button {
    margin-left: auto;
    padding: 8px 16px;
    border: none;
    background: #333;
    color: #f2f2f2;
    text-transform: uppercase;
    letter-spacing: .09em;
    border-radius: 2px;
  }

.service-partners {
    justify-content: center;
    align-items: center;
    margin: 40px auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.service-partners h2 {
    width: 100%;
    text-align: center;
}

  .service-partners img {
      width: 40%;
  }

@media screen and (min-device-width: 992px)  {
    .flex-wrapper {display: flex; justify-items: start;}

    .flex-wrapper form {margin-top: 20px; width: 50%;}

    .service-partners {display: flex; flex-direction: column; width: 20%;}

    .service-partners img {
    width: 100%;
    }

    .flex-form > li > label + * {
            flex: 1 0 200px;
          }


  }